---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* Dari sini kebawah ini tambahan percobaan untuk menampilkan note */
.small-note {
  font-size: 60%;
  line-height: 0.2cm;  
}
// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;



